@{
    Layout = "_LayoutEmployer";
    List<Resume> resumes = ViewData["resumes"] != null ? (List<Resume>)ViewData["resumes"] : null;
    List<Applicant> applicants = ViewData["applicant"] != null ? (List<Applicant>)ViewData["applicant"] : null;
    List<Professions> profession = ViewData["profession"] != null ? (List<Professions>)ViewData["profession"] : null;
}
<link rel="stylesheet" href="style.css">

<div class="uk-width-1-1@l list-vacancy">
    <div class="uk-flex uk-flex-column uk-width-1-1 list">
        @foreach(var item in resumes)
        {
            <div class="uk-card uk-card-default uk-card-body uk-card-hover uk-margin-bottom list-item">
                <a asp-action="Detail" asp-route-id="@item.Id">
                    <div>@profession.Where(a=>a.Id==item.ProfessionsId).Select(a=>a.Name).FirstOrDefault()</div>
                    <div>ФИО: @applicants.Where(a=>a.Id == item.ApplicantId).Select(a=>a.LastName).FirstOrDefault() 
                        @applicants.Where(a=>a.Id == item.ApplicantId).Select(a=>a.FirstName).FirstOrDefault() 
                        @applicants.Where(a=>a.Id == item.ApplicantId).Select(a=>a.SecondName).FirstOrDefault()</div>
                    <div>Описание: @item.Description</div>
                    <div>Желаемая зарплата: @item.Salary</div>
                </a>
            </div>
        }
    </div>
</div>